/*
Grid general
*/
body{
  font-family: arial;
}
header{
  background-color: #faca88;
  grid-area: my-header;
}
nav{
  background-color: #7a7267;
  grid-area: my-nav;
  height: 50px;
}
section{
  background-color: white;
  grid-area: my-section;
}
aside{
  background-color: #fbead3;
  grid-area: my-aside;
}
footer{
  background-color: #faca88;
  grid-area: my-footer;
}
#grid{
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "my-header my-header" "my-nav my-nav" "my-section my-aside" "my-footer my-footer" ;
}
/*
Diseño header
*/
#foto-1{
  width: 150px;
  float: left;
  padding: 10px 50px;
}
#menu{
  float: right;
  padding: 10px;
}
/*
Diseño nav
*/
nav a[href="contacto.html"]{
  background-color: #faca88;
}
nav a{
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding: 0px 14px 28px;
}
/*
Diseño section
*/
h2,h3,section p{
  padding: 5px 20px;
}
h2{
  font-size: 30px;
}
section h3{
  clear: right;
  padding: 5;
  font-style: italic;
}
#formulario{
  background-color:#fdf3e5;
  width: 500px;
  margin: 20px 100px;
  float: left;
}
form{
  margin: 50px;
}
label{
  padding: 20px;
  font-weight: 700;
}
input[type="text"]{
  float: right;
}
textarea{
  float: right;
}
input[type="reset"],input[type="submit"]{
  border-radius: 20%;
  margin-bottom: 10px;
}
/*
Diseño aside
*/
#indice1,
#enlaces-interes1{
  background-color: #faca88;
  margin: 10px;
  padding: 5px;
}
aside a{
  text-decoration: none;
  color: black;
}
/*
Diseño footer
*/
#foto-2{
  width: 120px;
  padding: 10px 30px;
  grid-area: foto;
}
#info-contacto{
  grid-area: infoc;
}
#siguenos-en{
  grid-area: siguen;
}
#enlaces-intereses2{
  grid-area: enlacesi;
}
#indice2{
  grid-area: indice;
}
#info-pag{
  grid-area: infop;
}
footer{
  display: grid;
  grid-template-columns: 20% 24% 20% 20% 16%;
  grid-template-areas: "foto infoc siguen enlacesi indice" "infop infop infop infop infop";
}
ul{
  padding: 0px 25px;
  font-size: 15px;
}
#info-pag{
  background-color: #7a7267;
  padding: 10px;
  text-align: center;
}



